.projectEntry {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* max-width: 960px; */
}

.projectHeader {
  display: flex;
  gap: 24px;
  width: 100%;
  align-items: center;
}

.projectTitleGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.projectTitle {
  display: flex;
  align-items: center;
  gap: 16px;
}

.projectTitle h2 {
    color: #1c1917;
    font-family: "Fraunces", serif;
    font-size: 34px;
    line-height: 120%;
    font-weight: 500;
}

.projectTitle img {
  opacity: 0;
  transform: translateX(-8px) translateY(2px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.projectEntry:hover .projectTitle img {
  opacity: 1;
  transform: translateX(0) translateY(2px);
}

.projectTitle span {
  display: inline-flex;
  align-items: baseline;
}

.projectDate {
  color: #ff8130;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
}

.projectDescription {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.projectSummary {
  color: #333;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
}

.projectImageWrapper {
  background: #39bdb6;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.projectImage {
  object-position: top;
  position: absolute;
  top: 55px;
  transition: transform 0.3s ease;
}

.projectImage:hover {
  transform: scale(1.02);
  
}

.projectEntry:hover .projectImage {
  transform: scale(1.02);
}





@media (max-width: 910px) {
  .projectImage {
    top: 40px;
    left: 40px;
  }
}

@media (max-width: 720px) {
    .projectHeader {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .projectImage {
    top: 30px;
    left: 30px;
  }
}

@media (max-width: 480px) {
  .projectImageWrapper {
    height: 360px;
  }
}