.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  
}

.fullcontainer {
  max-width: 1240px;
  width: 100%;
  padding: 24px 40px;
  position: absolute;
}



@media (max-width: 480px) {
  .fullcontainer {
    padding: 24px 20px;
  }
  
}